
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css"></style>
        <link rel="icon" type="image/x-icon" href="/static/icons/extension_icon128.png">
        <title>Focus Extension</title>
    </head>
    <body>
        <section class="main-block-card-img">
            <h1 class="center-txt">Blocked Website</h1>
            <p class="center-txt" id="block-txt">This website has been blocked so that you can stay focused</p>
            <img id="block-img" src="https://http.cat/images/401.jpg">

        </section>
    </body>   
    <script type="module" src="/js/block-page.js"></script> 
</html>
